.controls {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  margin: -20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 500px;
  max-width: 60vw;
}

.on {
  background: #f7f7f7;
  color: #38373a;
  border-width: 1px;
  border-color: #38373a;
  border-style: solid;
}

.off {
  padding: 10px;
  cursor: pointer;
  background: #38373a;
  color: #f7f7f7;
  border-width: 1px;
  border-color: #f7f7f7;
  border-style: solid;
}
