.container {
  // .chatDetailHeader {
  // }
  // .chatDetailContent {
  // }
  .chatDetailFooter {
    :global {
      .ant-btn {
        &:hover {
          color: white;
          border: none;
        }
      }
    }
    ::-webkit-scrollbar {
      width: 0;
      height: 5px;
      // margin-bottom: 5px !important;
    }
  }
}
