.container {
  .comment {
    :global {
      .ant-btn {
        &:hover {
          color: white;
          border: none;
        }
      }
    }
    ::-webkit-scrollbar {
      width: 0;
    }
  }
  .imagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 5px;
    .image {
      width: 100%;
      // height: auto;
      aspect-ratio: 4/3;
      object-fit: cover;
    }
  }

  .commentImage {
    width: 15rem;
    height: auto;
    border-radius: 8px;
  }

  .commentContent {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
