.text {
  display: inline-block;
  overflow: hidden;
  width: 0px;
  animation: typing 3s;
  animation-fill-mode: forwards;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
